    <section id="bookings">
            <h1 class="text-6xl p-8">Bookings</h1>
                <form>
                    <label for="name">Name</label>
                    <input id="name" type="text" />
                    <label for="email">Email</label>
                    <input id="email" type="email" />
                    <label for="date">When</label>
                    <input id="date" type="datetime-local" />
                    <label for="details"> Gig Details</label>
                    <input id="details" type="text" />
                    <input id="submit" type="button" value="Submit" />
                </form>
    </section>