<section id="music">
    <!--<div class="bg-gray-800 h-auto w-auto justify-center">-->
        <h1 class="text-6xl pb-4">Music</h1>
        <!--<div class="box-content object-fill">-->
            <iframe class="w-full aspect-auto p-4 pb-8"
                src="https://open.spotify.com/embed/album/655K4hATNbMcp6NmXDuNdk?utm_source=generator&theme=0"
                width="75%" height=500 frameBorder="0" allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy"></iframe>
        <!--</div>-->
    <!--</div>-->
</section>