@using RedHorizonSite.Data;
@model ShowsData;

<section id="shows">
    <h1 class="text-6xl p-8">Shows</h1>
    <table class="w-full">
        <thead class="border-b text-lg">
            <th class="text-left px-8 py-4">Date</th>
            <th class="text-left px-8 py-4">Details</th>
            <th class="text-left px-8 py-4">Location</th>
        </thead>
        @foreach (var show in Model.Shows)
        {
        <tr>
            <td class="px-8 py-4">@show.Date</td>
            <td class="px-8 py-4">@show.Description</td>
            <td class="px-8 py-4">@show.Location</td>
        </tr>
        }
    </table>
</section>